@page
@model TodoPageModel
@{
    ViewData["Title"] = "Todo";
}
@section Styles{
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <style>
        .list-group-item {
            cursor: pointer;
        }
        .strike {
  text-decoration: line-through;
}
    </style>
}
<h1>@ViewData["Title"]</h1>
<p>This is a complex todo list component.</p>
<div class="row">
    <div class="col-sm-4">
        <div class="clearfix">
            <h2 class="float-left">
                Todo Lists
            </h2>
            <button class="btn btn-default float-right" title="Add Todo List..." data-toggle="modal" data-target="#CreateTodoListModal">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <ul id="TodoLists" class="list-group">
            @foreach (var todoList in Model.TodoListViewModel)
            {
                <li id="TodoList-@todoList.Id" data-id="@todoList.Id" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    @todoList.Title
                    <span class="badge badge-primary badge-pill">@todoList.ItemsCount</span>
                </li>
            }
        </ul>
    </div>
    <div id="TodoListDetail" class="col-sm-8" style="display:none;">
        <div class="clearfix">
            <h2 id="TodoListTitle" class="float-left">
            </h2>
            <div class="btn-group btn-group-lg float-right" role="group" aria-label="...">
                <button class="btn btn-default" title="Add Todo List Item">
                    <i class="fas fa-plus"></i>
                </button>
                <button class="btn btn-default" title="Update Todo List">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-default" title="Delete Todo List" data-toggle="modal" data-target="#DeleteTodoListModal">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
        <ul id="TodoListItems" class="list-group mb-2">
            <li class="list-group-item d-flex justify-content-between align-items-center pr-0">
                <div class="flex-fill ml-3">
                    asasdasd
                </div>
                <button class="btn btn-default float-right" title="Delete">
                    <i class="far fa-trash-alt"></i>
                </button>
            </li>
        </ul>
    </div>
</div>
@section Modals{
    <div class="modal fade" id="CreateTodoListModal" tabindex="-1" role="dialog" aria-labelledby="CreateTodoListModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CreateTodoListModalLabel">Create Todo List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="CreateTodoListForm" asp-page="Todo" asp-page-handler="CreateTodoList">
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="CreateTodoListBindingModel.Title" class="col-form-label"></label>
                            <input asp-for="CreateTodoListBindingModel.Title" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="DeleteTodoListModal" tabindex="-1" role="dialog" aria-labelledby="DeleteTodoListModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteTodoListModalLabel">Delete Todo List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="DeleteTodoListForm" asp-page="Todo" asp-page-handler="DeleteTodoList">
                    <input asp-for="DeleteTodoListBindingModel.TodoListId" type="hidden" />
                    <div class="modal-body">
                        <p>Are you sure?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script src="~/lib/bootstrap-notify/bootstrap-notify.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('#CreateTodoListForm').on('submit', function (e) {
            formSubmit(this, 'CreateTodoListModal', function (data) {
                var title = $('#CreateTodoListBindingModel_Title').val();
                $('#TodoLists').append('<li id="TodoList-' + data.id + '" data-id="' + data.id + '" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">' + title + '<span class="badge badge-primary badge-pill">0</span></li>');
            });
            return false;
        });
        $('#TodoLists').on('click', 'li', function () {
            $('#TodoLists li.active').removeClass('active');
            $(this).addClass('active');
            $('#TodoListTitle').text($(this).contents().get(0).nodeValue);
            $('#TodoListDetail').show();
        });
        $('#DeleteTodoListModal').on('show.bs.modal', function (event) {
            var id = $('#TodoLists li.active').data('id');
            $('#DeleteTodoListBindingModel_TodoListId').val(id);
        });
        $("#DeleteTodoListForm").on("submit", function (e) {
            formSubmit(this, 'DeleteTodoListModal', function () {
                var id = $('#DeleteTodoListBindingModel_TodoListId').val();
                $('#TodoList-' + id).remove();
                 $('#TodoListDetail').hide();
            });
            return false;
        });
        $('#TodoListItems').on('click', 'li', function () {
             $(this).toggleClass('strike');
        });
    </script>
}